.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/assets/uploads/
/assets/images/category/
/assets/images/products/
/assets/images/customers/
/assets/images/vendors/
/assets/images/payment/
/assets/images/visits/
/assets/images/employees/
/assets/images/profile/
/assets/images/banner/
/assets/images/bill/
/assets/images/banners/
/assets/images/qrimage/
/assets/images/wallet/
/assets/attendance/daily/
/orders.txt
/disclaimer.txt
/telegram.txt
/whatsappno.txt
/lib_updater.php
/mylib/
/lib_updater.php
/mylib/